#section0.section.active
    div#gif_ct
    .home-hello.center-align
        h1.racingTitle Le formulaire de contact
        <br>
        <br>
        <br>
        h5 Simple et rapide comme bonjour
        .row.center
            a.waves-effect.waves-light.btn-large.racing(href='#contact') C'est parti
