#section0.section.active(data-anchor='home')
    video#video(autoplay='', loop='', name='media')
        source(src="<?=$this->asset('video/hello.mp4')?>", type='video/mp4')
        source(src="<?=$this->asset('video/hello.webm')?>", type='video/webm')
    .home-hello.center-align
        //
          <h1 class="title center-align">IDMKR
          <span>Launch your ideas on web</span>
          </h1>
        h1.racingTitle Agences/Annonceurs
        h4 Découvrez les avantages d'une équipe autonome
        a.waves-effect.waves-light.btn-large.racing(href='#force') Voir plus
#section1.section(data-anchor='a1')
    .container
        .row
            h1.center.racingTitle AVANTAGE 1
            .clearfix
            .col.l6.m6.s12
                p
                    | Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil ignoscendum, sed etiam acriter est resistendum.
            .col.l6.m6.s12
                p
                    | Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil ignoscendum, sed etiam acriter est resistendum.
#section2.section(data-anchor='a2')
    .container
        .row
            h1.center.racingTitle AVANTAGE 2
            .clearfix
            .col.l6.m6.s12
                p
                    | Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil ignoscendum, sed etiam acriter est resistendum.
            .col.l6.m6.s12
                p
                    | Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil ignoscendum, sed etiam acriter est resistendum.
#section3.section(data-anchor='a3')
    .container
        .row
            h1.center.racingTitle AVANTAGE 3
            .clearfix
            .col.l6.m6.s12
                p
                    | Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil ignoscendum, sed etiam acriter est resistendum.
            .col.l6.m6.s12
                p
                    | Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil ignoscendum, sed etiam acriter est resistendum.
#section4.section(data-anchor='contact')
    .content-contact.center
        .row
            form#form_agence.col.l12.m12.s12(actions='#')
                fieldset
                    legend.racing Contactez-nous dès maintenant !
                    .row
                        .input-field.col.l4.m4.s12
                            input#first_name.validate(type='text')
                            label(for='first_name') Prénom
                        .input-field.col.l4.m4.s12
                            input#last_name.validate(type='text')
                            label(for='last_name') Nom
                        .input-field.col.l4.m4.s12
                            input#office.validate(type='text')
                            label(for='office') Société
                        .input-field.col.l6.m6.s12
                            input#email.validate(type='email')
                            label(for='email') Email
                        .input-field.col.l6.m6.s12
                            input#telephone.validate(type='tel')
                            label(for='telephone') Telephone
                        .input-field.col.l6.m6.s12
                            select.validate
                                option(value='', disabled='', selected='') Choisissez..
                                option(value='1') E-commerce
                                option(value='2') Application mobile
                                option(value='3') Site vitrine
                                option(value='4') Marketplace
                                option(value='5') Reprise de site existant
                                option(value='6') Refonte graphique
                                option(value='7') AdWords Script
                                option(value='8') Scrapping
                                option(value='9') Autre
                            label Type de projet
                        .final.col.l6.m6.s12.center
                            button.btn-large.waves-effect.waves-light.racing(type='submit', name='action')
                                | Envoyer
                                i.mdi-content-send.right
                            p.center-align
                                | Mail envoyé.
                                br
                                | Nous vous répondrons dans les meilleurs délais
    //
      <div class="map-container">
      <div id="map-canvas"></div>
      </div>
    // Footer
    //
      <footer class="page-footer">
      <div class="footer-copyright">
      <div class="container light center">
      <small>© 2016 Tous droits réservés. Idmkr &hearts; <a href="http://materializecss.com/" target="_blank">Materialize</a></small>
      </div>
      </div>
      </footer>
