#section0.section.active(data-anchor='hello')
    video#video.vidfx(autoplay='', loop='', name='media')
        source(src!="<?=$this->asset('video/contact.mp4')?>", type='video/mp4')
        source(src!="<?=$this->asset('video/contact.webm')?>", type='video/webm')
    .home-hello.center-align
        h1.racingTitle Le formulaire de contact
        h4 Simple et rapide comme bonjour
        .row.center
            a.waves-effect.waves-light.btn-large.racing(href='#contact') C'est parti
