.pt-page
    // Borders
    #top
    #right
    #bottom
    #left

    - items = ['contact']

    include /mixins/_menu
    +menu(items)

    #fullpageDevis
        include _hello
        include _contact