#slideCase3.slide
    .container.case
        .row
            .col.l9.m9.s9.presentation_case
                p.left-align - Client
                h2.racing MATCHME
                p.left-align
                    | Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia, applicatione magis animi cum quodam sensu amandi quam cogitatione quantum illa res utilitatis esset habitura. Quod quidem quale sit, etiam in bestiis quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus et ab eis ita amantur ut facile earum sensus appareat. Quod in homine multo est evidentius, primum ex ea caritate quae est inter natos et parentes, quae dirimi nisi detestabili scelere non potest; deinde cum similis sensus exstitit amoris, si aliquem nacti sumus cuius cum moribus et natura congruamus, quod in eo quasi lumen aliquod probitatis et virtutis perspicere videamur.
                p.right-align
                    | Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil ignoscendum, sed etiam acriter est resistendum.
                p.center.picto_case
                    a.btn-floating.btn-large.waves-effect.waves-light(href='#!')
                        i.mdi-social-group
                    a.btn-floating.btn-large.waves-effect.waves-light(href='#!')
                        i.mdi-action-favorite
                    a.btn-floating.btn-large.waves-effect.waves-light(href='#!')
                        i.mdi-maps-place
            .col.l3.m3.s3.chiffres
                h5.racing Y - 2015
                ul
                    li
                        strong AGENCE
                        br
                        | Ad Quality
                    li
                        strong SERVICES
                        br
                        | Intégration
                        br
                        | Développement
                        br
                        | Performances
                    li
                        a.waves-effect.waves-light.btn-large.racing(href='#') Live →
            .col.l12.m12.s12.view_screen.center-align.clearfix
                .col.l12.m12.s12
                    h3.racingTitle FRONT OFFICE
                .col.l8.m8.s8
                    img.responsive-img(src='https://fakeimg.pl/600x400/?text=PrtScreen')
                .col.l4.m4.s4.left-align
                    ul
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
            .col.l12.m12.s12.view_screen.center-align.clearfix
                .col.l12.m12.s12
                    h3.racingTitle BACK OFFICE
                .col.l8.m8.s8
                    img.responsive-img(src='https://fakeimg.pl/600x400/?text=PrtScreen')
                .col.l4.m4.s4.left-align
                    ul
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
            .col.l12.m12.s12.view_screen.center-align.clearfix
                .col.l12.m12.s12
                    h3.racingTitle SITE EN PROD
                .col.l8.m8.s8
                    img.responsive-img(src='https://fakeimg.pl/600x400/?text=PrtScreen')
                .col.l4.m4.s4.left-align
                    ul
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
                        li
                            i.mdi-image-flash-on.left
                            |  Lorem ipsum
            .col.l12.m12.s12.center-align
                a#goRight.waves-effect.waves-light.btn-large.racing Cas suivant
