#section3.section(data-anchor='clients')
    #slideCase1.slide.active
        .container.center-align.echantillons
            .row
                h1.racingTitle Echantillons
                .clearfix
                .col.s12
                    p.texte.left-align
                        | Nous avons réalisé plus de 50 projets sur des thèmes très variés. Les plus récurents sont :
                        ul
                            li
                                i.material-icons.left flash_on
                                | E-Commerces Prestashop / Laravel sur mesure
                            li
                                i.material-icons.left flash_on
                                | Sites vitrines wordpress / CMS sur mesure
                            li
                                i.material-icons.left flash_on
                                | Marketplaces / Architectures Symfony
                            li
                                i.material-icons.left flash_on
                                | Python : Scrapping, Machine learning
                            li
                                i.material-icons.left flash_on
                                | APIs Google : AdWords, Analytics, GMap
                            li
                                i.material-icons.left flash_on
                                | Expertise Script AdWords
                //.col.s12
                    p.texte.right-align
                        | De la petite création graphique d'appoint jusqu'à la gestion complète de l'image de marque du projet, nous sommes habitués à gérer aussi toute la Direction Artistique de votre projet.
                .col.s12.center-align
                    a#goRight.waves-effect.waves-light.btn-large.racing(data-fullpage-move="slideRight") Voir nos clients

    include /projects/_droneslab
    include /projects/_tps
    include /projects/_longwy
    include /projects/_hippopotamus
    include /projects/_xtremfest
    include /projects/_idmkr