#section1.section(data-anchor='force')
    #conseil.mask-bgrd(style="background-image: url('img/conseil.jpg')")
    #crea.mask-bgrd(style="background-image: url('img/creation.jpg')")
    #launch.mask-bgrd(style="background-image: url('img/execution.jpg')")
    .container.center-align
        .row
            h1.racingTitle Travailler avec nous ?
            .clearfix
            .col.s12
                .force.conseil.center-align
                    h3.promo-caption.racing Professionnels
                    p.light
                        | Freelances aux tarifs attractifs.
            .col.s12
                .force.crea.center-align
                    h3.promo-caption.racing Créatifs polyvalents
                    p.light
                        | Compétences nécessaires à votre projet web.
            .col.s12
                .force.launch.center-align
                    h3.promo-caption.racing Disponibles
                    p.light
                        | Jamais de temps mort. Nous tenons nos paris.