// Hello
#section0.section.active(data-anchor='home')
    div#gif_hl
    .home-hello.center-align
        h1.racingTitle Hello World
        h5 Nous sommes une équipe d'experts en création web
        //p.cd-headline.push.center-align
            span.cd-words-wrapper
                b.is-visible
                    span.text L’équipe est passionnée, dynamique et professionnelle. Elle nous propose des idées créatives et des solutions efficaces
                b
                    span.text Un soucis particulier du détail
                b
                    span.text Notre relation va bien au-delà de la simple relation client ; c’est un partenariat durable basé sur la confiance et l’amitié.
                    span.auteur Drones Lab
        a.waves-effect.waves-light.btn-large.racing(href='#force') Découvrir
