include /mixins/_extra-icons

#section2.section(data-anchor='team')
    #slideTeam1.slide.active
        .container.center-align
            .row
                h1.racingTitle Team d'élite
                .clearfix
                .together.zone1.col.s12
                    h3.racing.xracingTitle.left-align
                        | Une équipe
                        br
                        | à toute épreuve
                    p.texte.left-align
                        //| Formé il y a 6 ans, IDMKR ( prononcé "idea maker" ) est aujourd'hui composé de 4
                        //span.brand-secondary programmeurs
                        //|  et 2
                        //span.brand-secondary créatifs.
                        | En tant qu'artisans passionés, nous privilégions la
                        span.brand-secondary nouveauté
                        |  et les
                        span.brand-secondary challenges
                        |  techniques. Nous parlons tous les langages web avec une longueur d'avance.
                    
                .together.zone2.col.s12.right
                    h3.racing.xracingTitle.right-align
                        | Des alliés
                        br
                        | sur tous les fronts
                    p.texte.right-align
                        | Direction Artistique, Référencement, Identité Web, Social management : nous avons construit une toile interne de partenaires spécialisés de Nice à Paris.
                        //br
                        //| Nous sommes le pilier technique et organisationnel qui concrétise votre projet.
                    
    #slideTeam2.slide
        .container
            .row
                .presentation_team.col.s12
                    .square
                        img(src='/img/gael.jpg')
                    h2 Gael
                    blockquote
                        | Fonctions
                        span Product Leader / Développeur
                        br
                        |                         Age
                        span #{new Date().getFullYear()-1988}
                        br
                        |                         Expérience
                        span #{new Date().getFullYear()-2006} ans
                        br
                        |                         Plutôt
                        span Rêveur et Perfectionniste
                //.description_team.col.s12
                    p.right-align
                        | " Tête communicante du groupe, je traduis les besoins et m'assure de la qualité finale du produit.
                        br
                        | Programmeur professionnel depuis l'âge de 18 ans, j'ai accumulé les expériences en open-space et en freelance.
                        br
                        | Je travaille surtout par plaisir, et je pense que c'est la meilleure facon de produire des bons résultats.
                        br
                        | Je suis fier de cette équipe, de notre travail, et du lien spécial qu'on a développé. "
                    p.handwriting.right-align Gaël
                .competences_team.col.s12
                    h5.racing Compétences
                    ul
                        li
                            i.material-icons.left flash_on
                            |  Gestion & conception de projet
                        li
                            i.material-icons.left flash_on
                            |  Organisation interne & externe
                        li
                            i.material-icons.left flash_on
                            |  PHP5/PHP7 / Python / JS / CSS3
                        li
                            i.material-icons.left flash_on
                            |  Symfony / Laravel / jQuery / Vue.js / React
                        li
                            i.material-icons.left flash_on
                            |  CMS divers, préférence pour Wordpress
                        li
                            i.material-icons.left flash_on
                            |  Ionic Framework / Phonegap / Cordova
                        li
                            i.material-icons.left flash_on
                            |  Python : scrapping, machine learning
                    blockquote
                        | Email
                        span gael[a]idmkr.io 
                        | Tel
                        span
                            a(href='tel:0689116691') 06 89 11 66 91 
                        br
                        | Profil
                        span 
                            a(href='https://www.linkedin.com/in/gael-debost-a4297228', target='_blank') Linkedin
                        
                    //p.left-align.picto_team
                        a.email.btn-floating.waves-effect.waves-light
                            i.material-icons email
                        span.handwriting gael[a]idmkr.io
                        br
                        a.phone.btn-floating.waves-effect.waves-light(href='tel:0689116691')
                            i.material-icons phone
                        span.handwriting 06 89 11 66 91
                        br
                        a.btn-floating.waves-effect.waves-light(href='https://www.linkedin.com/in/gael-debost-a4297228', target='_blank')
                            +extra-icon('linkedin')
                        span.handwriting Profil Linkedin  
    #slideTeam3.slide
        .container
            .row
                .presentation_team.col.s12
                    .square
                        img(src='img/florent.jpg')
                    h2 Flo
                    blockquote
                        | Poste
                        span Project Manager / Développeur
                        br
                        |                         Age
                        span #{new Date().getFullYear()-1985}
                        br
                        |                         Ancienneté
                        span 6 ans
                        br
                        |                         Plutôt
                        span Efficace et Pragmatique
                //.description_team.col.s12
                    p.right-align
                        | " Après un diplôme d'ingénieur en vision industrielle, je me dirige vers le développement web, attiré par les nouvelles technologies, l'innovation et les défis économiques du secteur.
                        br
                        | Grâce à ma formation orientée développement et qualité logiciel ainsi qu'à ses expériences professionnelles en gestion de projet,
                        |                         je suis parfaitement à l'aise pour mener à bien n'importe quel projet web moderne. "
                    p.handwriting.right-align Florent
                .competences_team.col.s12
                    h5.racing Compétences
                    ul
                        li
                            i.material-icons.left flash_on
                            |  PHP/ HTML / CSS / JS / C++ / Python
                        li
                            i.material-icons.left flash_on
                            |  PHP : Zend, Laravel, POO, Pattern design
                        li
                            i.material-icons.left flash_on
                            |  Qualité logiciel
                        li
                            i.material-icons.left flash_on
                            |  CMS de prédilection : Prestashop
                        li
                            i.material-icons.left flash_on
                            |  Rédaction de cahiers des spécifications / des charges
                        li
                            i.material-icons.left flash_on
                            |  Pragmatif et intuitif
                    blockquote
                        | Email
                        span florent[a]idmkr.io 
                        | Tel
                        span
                            a(href='tel:0618707292') 06 18 70 72 92 
                        br
                        | Profil
                        span 
                            a(href='https://www.linkedin.com/in/florent-roche-479157119', target='_blank') Linkedin
                    
                    //p.left-align.picto_team
                        a.email.btn-floating.waves-effect.waves-light
                            i.material-icons email
                        span.handwriting florent[a]idmkr.io
                        br
                        a.phone.btn-floating.waves-effect.waves-light(href='tel:0618707292')
                            i.material-icons phone
                        span.handwriting 06 18 70 72 92
                        br
                        a.btn-floating.waves-effect.waves-light(href='https://www.linkedin.com/in/florent-roche-479157119', target='_blank')
                            +extra-icon('linkedin')
                        span.handwriting Profil Linkedin   
    #slideTeam4.slide
        .container
            .row
                .presentation_team.col.s12
                    .square
                        img(src='img/pedro.jpg')
                    h2 Pédro
                    blockquote
                        | Poste
                        span Project Designer / Intégrateur
                        br
                        |                         Age
                        span #{new Date().getFullYear()-1986}
                        br
                        |                         Ancienneté
                        span 4 ans
                        br
                        |                         Plutôt
                        span Réactif et Flexible
                //.description_team.col.s12
                    p.right-align
                        | " Graphiste de formation et de coeur, je suis également devenu intégrateur/developpeur Front-end par passion.
                        br
                        |                         J'ai travaillé pour des agences web Parisiennes avant de m'installer à Nice en tant qu'indépendant.
                        br
                        |                         Je complète les besoins de l'équipe sur le plan de la création graphique, déclinaisons, intégration et community management. "
                    p.handwriting.right-align Pédro
                .competences_team.col.s12
                    h5.racing Compétences
                    ul
                        li
                            i.material-icons.left flash_on
                            |  Intégration & Dev. Front-end
                        li
                            i.material-icons.left flash_on
                            |  HTML5/CSS3, Scss/Less & Js/Jquery
                        li
                            i.material-icons.left flash_on
                            |  Laravel, BonesWP, Foundation, etc.
                        li
                            i.material-icons.left flash_on
                            |  Material Design Lite, Bootstrap 4, Boilerplate
                        li
                            i.material-icons.left flash_on
                            |  CMS de prédilection : Wordpress & Prestashop
                        li
                            i.material-icons.left flash_on
                            |  Experience utilisateur, Responsive web
                        li
                            i.material-icons.left flash_on
                            |  Gestion identité digitale & Facebook app
                        li
                            i.material-icons.left flash_on
                            |  Conception graphique digital, print & intéractif
                        li
                            i.material-icons.left flash_on
                            |  Maitrise des techniques de la chaîne graphique
                    blockquote
                        | Email
                        span pedro[a]idmkr.io 
                        | Tel
                        span
                            a(href='tel:0623601827') 06 23 60 18 27 
                        br
                        | Profil
                        span 
                            a(href='https://www.linkedin.com/in/pierre-eric-beaudraps-965a6020', target='_blank') Linkedin

                    //p.left-align.picto_team
                        a.email.btn-floating.waves-effect.waves-light
                            i.material-icons email
                        span.handwriting pedro[a]idmkr.io
                        br
                        a.phone.btn-floating.waves-effect.waves-light(href='tel:0623601827')
                            i.material-icons phone
                        span.handwriting 06 23 60 18 27
                        br
                        a.btn-floating.waves-effect.waves-light(href='https://www.linkedin.com/in/pierre-eric-beaudraps-965a6020', target='_blank')
                            +extra-icon('linkedin')
                        span.handwriting Profil Linkedin 
