#section3.section(data-anchor='clients')
    #slideCase1.slide.active
        .container.center-align
            .row
                h1.racingTitle Echantillon de productions
                .clearfix
                .wall.center
                    ul.clearfix

                        li.item.center(data-fullpage-move='{"to":["clients",1]}')
                            img.responsive-img.circle(src='img/drones-lab.col.png')
                            p Drones Lab
 
                        li.item.center(data-fullpage-move='{"to":["clients",2]}')
                            img.responsive-img.circle(src='img/tps_col.png')
                            p Ton Petit Sommelier

                        li.item.center(data-fullpage-move='{"to":["clients",3]}')
                            img.responsive-img.circle(src='img/longwy_col.png')
                            p Longwy Paris

                        div.clearfix.hidden-xs

                        li.item.center(data-fullpage-move='{"to":["clients",4]}')
                            img.responsive-img.circle(src='img/hippo_col.png')
                            p Hippopotamus Cambrai

                        li.item.center(data-fullpage-move='{"to":["clients",5]}')
                            img.responsive-img.circle(src='img/xtrem-fest_col.png')
                            p Xtrem Fest

                        div.clearfix.hidden-xs


                        li.item.center(data-fullpage-move='{"to":["clients",6]}')
                            img.responsive-img.circle(src='img/idmkr_col.png')
                            p IDMKR


    include /projects/_droneslab
    include /projects/_tps
    include /projects/_longwy
    include /projects/_hippopotamus
    include /projects/_xtremfest
    include /projects/_idmkr