#section1.section(data-anchor='force')
    #conseil.mask-bgrd(style="background-image: url('img/conseil.jpg')")
    #crea.mask-bgrd(style="background-image: url('img/creation.jpg')")
    #launch.mask-bgrd(style="background-image: url('img/execution.jpg')")
    .container.center-align
        .row
            h1.racingTitle Pourquoi travailler avec nous ?
            .clearfix
            .col.l4.m4.s12
                .force.conseil.center-align
                    h3.promo-caption.racing Professionnels
                    p.light
                        | Nous sommes une équipe de freelances. Nous proposons des tarifs attractifs, et agissons en véritable agence qualifiée.
                    blockquote.left-align
                        ul
                            li Conseil
                            li Audit technique
                            li Aide à la conception
                    blockquote.left-align
                        ul
                            li Réflexion
                            li Accompagnement quotidien
                            li Rédaction de conception
            .col.l4.m4.s12
                .force.crea.center-align
                    h3.promo-caption.racing Créatifs polyvalents
                    p.light
                        | Nous fournissons l'ensemble des compétences nécessaires à l'aboutissement de votre
                        | projet web, en développement comme en graphisme.
                    blockquote.left-align
                        ul
                            li Graphisme
                            li Identité graphique
                            li Création de maquettes
                    blockquote.left-align
                        ul
                            li Développement
                            li Code propre & documenté
                            li Performances optimales
            .col.l4.m4.s12
                .force.launch.center-align
                    h3.promo-caption.racing Disponibles
                    p.light
                        | Jamais de temps mort. Nous tenons nos paris : c'est la force d'une équipe soudée qui sait se rendre accessible.
                    blockquote.left-align
                        ul
                            li Téléphone
                            li de 8h à 20h 6j/7
                            li On répond le dimanche
                    blockquote.left-align
                        ul
                            li Organisation
                            li Equipe Agile
                            li Fil conducteur
